
<main class="site-wrapper">
  <div class="pt-tablecell page-home relative " style="background-image: url(/assets/logofekete.png);
      background-position: center;
      background-size: cover;">
      <div class="overlay"></div>
<div class="container">
    <div class="wrapped-div">
      
      <div class="row" >
        <div class="col-md-10 offset-md-1 " >
  <div class="modal-body" >
    <form [formGroup]="newPasswordForm"  autocomplete="off" (ngSubmit)="newPasswordForm.valid && newPassword() "  >
    
      <div class="form-group   required">
        <label for="password">Jelszó</label>
        <input name="password" type="password" class="form-control" id="medNumber" 
        formControlName="password"
        [class.is-invalid]='newPasswordForm.get("password").errors && newPasswordForm.get("password").touched'
        >
        <div *ngIf="newPasswordForm.get('password').hasError('required')" class="invalid-feedback">
          A jelszó nem megfelelő!
        </div>
       
    </div>
        
        <div class="form-group required">
            <label for="password">Jelszó megerősítés</label>
            <input [class.is-invalid]='newPasswordForm.get("newconfirmPassword").errors && newPasswordForm.get("newconfirmPassword").touched' type="password" class="form-control" formControlName="newconfirmPassword"   required>
            <div *ngIf="newPasswordForm.get('newconfirmPassword').hasError('required')" class="invalid-feedback">
              Kérem a jelszó megerősítést!
            </div>
            <div *ngIf="newPasswordForm.get('newconfirmPassword').hasError('isMatching')" class="invalid-feedback">
              A két jelszónak egyeznie kell!
            </div>
        </div>
    
       <br>
        <button [disabled]="!newPasswordForm.valid" class="w-100 btn btn-lg btn-primary" type="submit" >Megerősítés</button>
    </form>  
    <br>
    

</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
