<button class="btn btn-link p-0" (click)="openModal(lostpassword)">Elfelejtetted a jelszavadat?</button>
<ng-template #lostpassword >
  <div class="modal-header">
    <h4 class="modal-title pull-left">Reset password</h4>
 
  </div>
  <div class="modal-body">
    <form [formGroup]="lostPasswordForm"  id="requestForm" (ngSubmit)="lostPasswordForm.valid && sendResetMail()"  autocomplete="off">
    

        <div class="form-group">
            <label for="medNumber">TAJ-szám</label>
            <input name="medNumber" type="text" class="form-control" id="medNumber"  
            formControlName="medNumber"
            [class.is-invalid]='lostPasswordForm.get("medNumber").errors && lostPasswordForm.get("medNumber").touched'
            >
            <div *ngIf="lostPasswordForm.get('medNumber').hasError('required')" class="invalid-feedback">
              A TAJ-szám nem megfelelő!
            </div>
        </div>
    
        <br>
        <button [disabled]="!lostPasswordForm.valid" form="requestForm" class="w-100 btn btn-lg btn-primary" type="submit" > Helyreállít</button>
    </form>  
    
   

</div>
</ng-template>
