<app-admin-navbar></app-admin-navbar>
<div class="content" style="background-image: url(/assets/logofekete.png);">
    <div class="overlay"></div>
   
<div class="container">
<div class="card">
    <div class="card-body">
        <ul 
       
       
         *ngIf="messages?.length > 0" class="chat">
            <li *ngFor="let message of messages">
                <div>
                    <span class="float-center" >
                        <p style="color:rgb(50, 206, 206)">{{message.sender.name}}</p>
                        <i class="fa fa-user"></i>
                    </span>

                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{message.dateSent}}</span>
                                <span class="text-danger"
                                    *ngIf="!message.dateRead && message.sender.name !== null">
                                    (Kézbesítve)
                                </span>
                                <span class="text-success"
                                    *ngIf="message.dateRead != null && message.sender.name !== null">
                                   (Látta {{message.dateRead}})
                                </span>
                            
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <input name="messageContent" required [(ngModel)]="messageContent" type="text" class="form-control input-sm" placeholder="Üzenet küldés...">
            <br>
            <div class="input-group-append">
                <button [disabled]="!messageForm.valid" class="btn btn-dark" type="submit">Küldés</button>
                
            </div>
            <i class="fa fa-angles"></i>
        </form>
    </div>
</div>
</div>
</div>