.content{
    background-color:rgba(131, 159, 224, 0.97);
    height: 100vh;
}
.container{
  
    background-color: aliceblue;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 10px;

}
.split {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
   
  }
  
  .right {
    right: 0;
    
  }
  
  .centered {
    position: absolute;
    top: 45%;
    left: 42%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .titleFormat{
      width: 100%;
  }
  .btn {
    justify-content: left;
  }
  