<app-admin-navbar></app-admin-navbar>
<div class="content">
   

    <div class="container">
<full-calendar style="color:rgb(23, 33, 66); padding-top:20px; height: 500px;" [options]="calendarOptions" dateClick="dateClick($event)" (click)="eventClick($event.detail)"  >


</full-calendar>
</div>
        
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title align-center"></h4>

            </div>

            <div class="modal-body">
                <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Foglalás oka:</label>
                                <input placeholder="Foglalás oka..." type="text" formControlName="Description" [class.is-invalid]='addEventForm.get("Description").errors && addEventForm.get("Description").touched' class="titleinp form-control" />
                                <div *ngIf="addEventForm.get('Description').hasError('required')" class="invalid-feedback">
                                    Kérem adja meg a foglalás okát!
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Foglalás Ideje:</label>
                                <div class="form-control eventstarttitle "></div>
                               
                            </div>
                        </div>




                    </div>
                    <br>
                    <button type="submit" data-dismiss="modal" class="btn btn-primary">Foglalás</button>
                </form>
            </div>
        </div>
    </div>
</div>


 <div class="modal" id="myModal2" [style.display]="showModal ? 'true' : 'false'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header"  style=" justify-content: center;">
            <h4 class="modal-title"></h4>
            <!-- <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button> -->
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <label >Foglalás:</label>
            <div  class="form-control eventstarttitle "></div>
           
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer" style=" justify-content: center;">
            <button type="button" class="btn btn-success" data-dismiss="modal" >Bezárás</button>
            <button type="button" class="btn btn-danger"  (click)="deleteAppointment()">Törlés</button>
            
          </div>
        
      </div>
    </div>
  </div> 
</div>


