<main class="site-wrapper">
  <div class="pt-tablecell page-home relative" style="
      background-image: url(/assets/logofekete.png);
      background-position: center;
      background-size: cover;
    ">
    <div class="overlay"></div>
    <div class="container">
      <div class="wrapped-div">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="modal-body">
              <form [formGroup]="newPasswordFormDoctor" autocomplete="off"
                (ngSubmit)="newPasswordFormDoctor.valid && newPassword()">
                <div class="form-group required">
                  <label for="password">Jelszó</label>
                  <input type="password" class="form-control" formControlName="password" [class.is-invalid]="
                      newPasswordFormDoctor.get('password').errors &&
                      newPasswordFormDoctor.get('password').touched
                    " required />
                  <div *ngIf="
                      newPasswordFormDoctor.get('password').hasError('required')
                    " class="invalid-feedback">
                    A jelszó nem megfelelő!
                  </div>
                  <div *ngIf="
                      newPasswordFormDoctor
                        .get('password')
                        .hasError('minlength')
                    " class="invalid-feedback">
                    A jelszava minimum 8 karakter kell hogy legyen!
                  </div>
                  <div *ngIf="
                      newPasswordFormDoctor
                        .get('password')
                        .hasError('maxlength')
                    " class="invalid-feedback">
                    A jelszava maximum 16 karakter lehet!
                  </div>
                </div>

                <div class="form-group required">
                  <label for="newconfirmPassword">Jelszó megerősítés</label>
                  <input required [class.is-invalid]="
                      newPasswordFormDoctor.get('newconfirmPassword').errors &&
                      newPasswordFormDoctor.get('newconfirmPassword').touched
                    " type="password" class="form-control" formControlName="newconfirmPassword" required />
                  <div *ngIf="
                      newPasswordFormDoctor
                        .get('newconfirmPassword')
                        .hasError('required')
                    " class="invalid-feedback">
                    Kérem a jelszó megerősítését!
                  </div>
                  <div *ngIf="
                      newPasswordFormDoctor
                        .get('newconfirmPassword')
                        .hasError('isMatching')
                    " class="invalid-feedback">
                    A két jelszónak egyeznie kell!
                  </div>
                </div>

                <br />
                <button [disabled]="!newPasswordFormDoctor.valid" class="w-100 btn btn-lg btn-primary" type="submit">
                  Megerősítés
                </button>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>