<h1>Szia Uram! Hogy keveredtél ide?</h1>
<h3>Valószínűleg véletelenül ezért elmondom, hogy ez az egész egy sulis szakdolgozat ezért légyszi hagyd békén!</h3>
<h3>
    Viszont ha te ilyen kötözködős ember vagy akkor úgy is ki fogod próbálni ami nem baj,
    <br> viszont minden adatot eltárolunk rólad és a fekete piacon áruljuk majd a személyiségedet.
    <br> Nem utolsó sorban illegális oldalakra is esetlegesen felregisztrálunk majd.
</h3>
<h3>Ha ezekután is kedved van még regisztrálni és babrálni a rendszerrel akkor örömmel vesszük!</h3>
<h3>
    Ui.: ha esetleg szeretnéd megkönnyíteni a dolgunk akkor a doctorsystemapp@gmail.com-ra várjuk hitelkártyád adatait akár fénykép akár szöveg formájában.
    <br> Ezzel is tudsz minket támogatni!
    <br> Nagyon köszönjük!
</h3>