<h1>A webhely használati feltételei</h1>

<h2>1. Feltételek</h2>

<p>A https://www.drsystem.hu oldalról elérhető Weboldal elérésével Ön elfogadja, hogy magára nézve kötelezőnek ismeri el a jelen Webhely használati feltételeit, és elfogadja, hogy Ön felelős a vonatkozó helyi törvényekkel kötött megállapodásért. Ha nem ért egyet ezen feltételek bármelyikével, tilos hozzáférnie ehhez az oldalhoz. A Weboldalon található anyagokat szerzői jog és védjegyjog védi.</p>

<h2>2. Licenc használata</h2>

<p>Engedélyt adunk a DrSystem webhelyén található anyagok egy példányának ideiglenes letöltésére, csak személyes, nem kereskedelmi célú, átmeneti megtekintés céljából. Ez egy engedély megadása, nem pedig a tulajdonjog átruházása, és a licenc alapján nem teheti meg:</p>

<ul>
    <li>módosítsa vagy másolja az anyagokat;</li>
    <li>az anyagokat bármilyen kereskedelmi célra vagy nyilvános megjelenítésre használja;</li>
    <li>kísérlet a DrSystem webhelyén található szoftverek visszafejtésére;</li>
    <li>távolítson el minden szerzői jogi vagy egyéb tulajdonjogi megjegyzést az anyagokról; vagy</li>
    <li>az anyagok átvitele egy másik személyre, vagy az anyagok „tükrözése” bármely másik szerveren.</li>
</ul>

<p>Ez lehetővé teszi, hogy a DrSystem leálljon, ha megsérti ezen korlátozások bármelyikét. Felmondás esetén a megtekintési joga is megszűnik, és meg kell semmisítenie a birtokában lévő letöltött anyagokat, legyen az nyomtatott vagy elektronikus formátumú. Jelen Általános Szerződési Feltételek a <a href="https://www.termsofservicegenerator.net">Általános Szerződési Feltételek generátor</a> segítségével jöttek létre.</p>

<h2>3. Jogi nyilatkozat</h2>

<p>A DrSystem webhelyén található összes anyag „ahogy van”. A DrSystem nem vállal garanciát, legyen az kifejezett vagy hallgatólagos, ezért minden egyéb garanciát érvénytelenít. Továbbá a DrSystem nem vállal semmilyen kijelentést a weboldalán található anyagok felhasználásának pontosságával vagy megbízhatóságával kapcsolatban, vagy más módon az ilyen anyagokkal vagy a Webhelyre hivatkozott webhelyekkel kapcsolatban.</p>

<h2>4. Korlátozások</h2>

<p>A DrSystem vagy beszállítói nem vállalnak felelősséget semmilyen kárért, amely a DrSystem webhelyén található anyagok használatából vagy felhasználásának képtelenségéből adódik, még akkor sem, ha a DrSystem vagy a webhely meghatalmazott képviselője szóban vagy írásban értesült az ilyen károk lehetőségét. Egyes joghatóságok nem engedélyezik a vélelmezett garanciák korlátozását vagy a véletlen károkért való felelősség korlátozását, előfordulhat, hogy ezek a korlátozások nem vonatkoznak Önre.</p>

<h2>5. Revíziók és hibák</h2>

<p>A DrSystem webhelyén megjelenő anyagok technikai, tipográfiai vagy fényképészeti hibákat tartalmazhatnak. A DrSystem nem ígéri, hogy a weboldalon található anyagok pontosak, teljesek vagy aktuálisak. A DrSystem bármikor, előzetes értesítés nélkül megváltoztathatja a weboldalán található anyagokat. A DrSystem nem vállal kötelezettséget az anyagok frissítésére.</p>

<h2>6. Linkek</h2>

<p>A DrSystem nem vizsgálta át a webhelyére hivatkozott összes webhelyet, és nem vállal felelősséget az ilyen hivatkozott webhelyek tartalmáért. A hivatkozások jelenléte nem jelenti azt, hogy a DrSystem jóváhagyja az oldalt. A hivatkozott webhelyek használata a felhasználó saját felelősségére történik.</p>

<h2>7. A webhely használati feltételeinek módosításai</h2>

<p>A DrSystem bármikor, előzetes értesítés nélkül felülvizsgálhatja a webhelyére vonatkozó jelen Felhasználási feltételeket. A Webhely használatával Ön elfogadja, hogy magára nézve kötelezőnek ismeri el a jelen Felhasználási Feltételek aktuális verzióját.</p>

<h2>8. Az Ön adatvédelme</h2>

<p>Kérjük, olvassa el Adatvédelmi irányelveinket.</p>

<h2>9. Irányadó jog</h2>

<p>A DrSystem Webhellyel kapcsolatos bármely igényre a hu törvényei az irányadók, tekintet nélkül a kollíziós rendelkezésekre.</p>