
<div class="pt-tablecell page-home " style="background-image: url(/assets/logofekete.png);
  background-position: center;
  background-size: cover; ;">
    <div class="overlay"></div>

    <div class="container">

        <div class="wrapped-div">

            <div class="row">
                <div class="col-md-10 offset-md-1 ">
                    <div class="modal-body">

                        <form [formGroup]="doctorLoginForm" (ngSubmit)="doctorLoginForm.valid && login()"
                            autocomplete="off">


                            <div class="form-group  required ">
                                <label for="medNumber">Pecsétszám</label>
                                <input name="medNumber" type="text" class="form-control" id="medNumber"
                                    formControlName="sealNumber"
                                    [class.is-invalid]='doctorLoginForm.get("sealNumber").errors && doctorLoginForm.get("sealNumber").touched'
                                    required>
                                <div *ngIf="doctorLoginForm.get('sealNumber').hasError('required')"
                                    class="invalid-feedback">
                                    A pecsétszám nem megfelelő!
                                </div>

                            </div>
                            <div class="form-group  required">
                                <label for="password">Jelszó</label>
                                <div class="input-group has-validation">
                                <input name="password"  [type]="fieldTextType ? 'text' : 'password'" class="form-control invalid" id="password"
                                    formControlName="password" required
                                    [class.is-invalid]='doctorLoginForm.get("password").errors && doctorLoginForm.get("password").touched'>
                                    <span class="input-group-text"  (click)="toggleFieldTextType()">
                                        <i class="fa" [ngClass]="{
                                          'fa-eye-slash': !fieldTextType,
                                          'fa-eye': fieldTextType
                                        }"
                                       ></i>
                                      </span>
                                    <div *ngIf="doctorLoginForm.get('password').hasError('required')"
                                    class="invalid-feedback">
                                    A jelszó nem megfelelő!
                                </div>
                                </div>
                            </div>
<br>
                           
                            <button [disabled]="!doctorLoginForm.valid" class="w-100 btn btn-lg btn-primary"
                                type="submit">Belépés</button>
                        </form>

                        <br>
                        <p id="link">
                            <app-lost-password-doctor (lostPasswordOpenedEvent)="closeModal()">
                            </app-lost-password-doctor>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>