.client-icons{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    float:inline-end;
    color:black;
    
}
.client-icons:hover{
    transition: all .2s ease-in-out;   
}
table{
    text-align: center;
    max-width: 5000px;
    
}
.list-inline-item{
   float: center;
   margin: 6px;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(3, 20, 53);
  }
  .mb-8{
    float:center;
    padding-left:10px;
}