
     
<div class="content ">
  
    <app-admin-navbar></app-admin-navbar>
    <div class="overlay">
     
        
            <div class="container">
                        <table class="table table-striped table-primary"  >
            <thead class="thead" >
                <tr>
                    <th (click)="sort('name')">Név&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Lakcím</th>
                    <th (click)="sort('birthDate')">
                        Születési dátum&nbsp;<i class="fa fa-sort"></i>
                    </th>
                    <th style="width: 80px">Telefonszám</th>
                    <th style="width: 250px">
                        <form>
                            <div class="mb-8 row">
                                <div class="col-xs-3 col-sm-auto">
                                    <input class="form-control" type="text" name="name" [(ngModel)]="filterTerm" (ngModelChange)="Search()" placeholder="Keresés..." />
                                </div>
                            </div>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="
            let client of filteredClients
              | orderBy: key:reverse
              | filter: filterTerm
                  
          ">
                    <td style="text-align: left">{{ client.name }}</td>
                    <td style="text-align: center">
                        {{ client.place.postCode }} {{ client.place.city }}
                    </td>
                    <td style="text-align: center">{{ client.birthDate }}</td>
                    <td style="text-align: right">{{ client.phoneNumber }}</td>
                    <td>
                        <li class="list-inline-item">
                            <button class="btn btn-light" (click)="acceptClient(client.medNumber)">
                              <i class="fa fa-check text-dark"></i>
                            </button>
                        </li>
                        <li *ngIf="!(client.place.postCode === doctor.place.postCode)" class="list-inline-item">
                            <button class="btn btn-light" (click)="deleteClient(client.medNumber)">
                             <i class="fa fa-ban"></i>
                            </button>
                        </li>
                    </td>
                </tr>
            </tbody>
        </table>
            </div>
            </div>
    </div>

            
      
    
