

table{
    text-align: center;
   
   
    
}
.list-inline-item{
   float: center;
   margin: 6px;
}



input.form-control,input.form-control:focus{
    background-color:#fbfbfb;
    color: rgb(10, 17, 56);
    border: 1px solid #1950bd;

}

input.form-control:focus{
    box-shadow: none;
}










  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #05f7ff; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }
 #link{
     
     text-align: center;
     color:#fff;
    
 }
 .link{
     
    text-align: center;
    color:#fff;
   
}


 
 p{
     color:#fff;
 }



 table { 
    width: 100%; 
    border-collapse: collapse; 
    height: 100%; 
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: scroll;
    padding-right: 10px;
  }
  
  .overlay {
    position:absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    margin-left: 40px;
 }

     
  .content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle; 
    min-height:100vh;
    overflow-y:hidden;
    
;}
    .content .overlay {
      background-color: rgba(131, 159, 224, 0.97);
  }

 .thead{
     position: sticky;
 }
 @media screen and (max-width: 900px) {
    .container {
      
      width: 95%;
    }
    table{
        width: 95%;
    }
  }

  .scrollIt{
    max-height: 450px !important;
    overflow: scroll;
    overflow-x: hidden !important;
    position: relative;
  }