.client-icons{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    float:inline-end;
    color:black;
    
}
.client-icons:hover{
    transition: all .2s ease-in-out;   
}
table{
    text-align: center;
    min-width: 100vh;
    padding-left: 100vh;
    
}
.list-inline-item{
   float: center;
   margin: 6px;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(3, 20, 53);
  }
  .mb-8{
    float:center;
    padding-left:10px;
}


input.form-control,input.form-control:focus{
    background-color:#fbfbfb;
    color: rgb(10, 17, 56);
    border: 1px solid #1950bd;

}

input.form-control:focus{
    box-shadow: none;
}










  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #05f7ff; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }
 #link{
     
     text-align: center;
     color:#fff;
    
 }
 .link{
     
    text-align: center;
    color:#fff;
   
}


 
 p{
     color:#fff;
 }


.container{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
   height: 100%;
   padding:40px;
   overflow: hidden;
  
}


  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #517eda;
    padding: 30px;
    min-width: 90%;
    min-width: 42vh;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    
  }

  .overlay {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 }

     
  .page-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle; 
    min-height:100vh;
;}
    .page-home .overlay {
      background-color: rgba(46, 76, 144, 0.97);
  }
 .site-wrapper{
     min-height: 100vh;
 }
.content{
    height:100%;
    overflow: hidden;
}

 