<div class="container">
  
  <div class="wrapped-div">
    
    <div class="row" >
      <div class="col-md-10 offset-md-1 " >
<form  [formGroup]="registerForm" autocomplete="off" (ngSubmit)=" register()" >
  <br>
  

    <div class="form-group required">
      <label>Teljes név</label>
      <input 

      
      class="form-control" 
      id="username" 
      name="username" 
      type="text" 
      formControlName="name"  
      required>
      <span class="text-danger"
                                *ngIf="(registerFormControl['name'].touched || submitted) && registerFormControl['name'].errors">
                                Name is required
        </span>
    </div>

    <div class="form-group col-5 required">
      <label>Születési dátum</label>
      <input 
      formControlName="birthDate"
      class="form-control" 
      id="birthDate" 
      name="birthDate" 
      type="date" 
      required>
      <!-- <span class="text-danger"
                                *ngIf="(registerFormControl['username'].touched || submitted) && registerFormControl['username'].errors">
                                Date is required
        </span> -->
    </div>

    <div class="form-group   col-5 required">
      <label>Irányítószám</label>
      <input class="form-control" 
      id="placeId" 
      name="placeId" 
      type="number" 
      formControlName="placeId"
      required>
    </div>

  <div class="form-group   col-5 required">
    <label>Város</label>
    <input 
    formControlName="city"
    class="form-control" 
    id="city" name="city" 
    type="text"   
    required>
  </div>

    <div class="form-group   col-5 required">
      <label>Utca</label>
      <input
       class="form-control" 
       id="street" 
       name="street" 
       type="text" 
       formControlName="street" 
       required>
    </div>


     <div class="form-group   col-5 required">
      <label>Házszám</label>
      <input 
      class="form-control" 
      id="houseNumber" 
      name="houseNumber" 
      type="number" 
      formControlName="houseNumber" 
      required>
     </div>
   

    <div class="form-group required">
      <label>TAJ-szám</label>
      <input 
      class="form-control" 
      name="medNumber" 
      id="medNumber" 
      type="text" 
      formControlName="medNumber"
      required>
     
    </div>
    <div class="form-group required">
      <label>Email cím</label>
      <input 
      class="form-control" 
      name="email" 
      id="email" 
      type="email" 
      formControlName="email">
      
    </div>
    <div class="form-group required">
      <label>Telefonszám</label>
      <input 
      class="form-control" 
      name="phoneNumber" 
      id="phoneNumber" 
      type="tel"
      formControlName="phoneNumber">
     
    </div>

    <div class="form-group required">
        <label>Jelszó</label>
        <input 
        type="password" 
        class="form-control" 
        name="password" 
        id="password" 
        formControlName="password" 
         >
         <!-- <span class="text-danger"
                                *ngIf="(registerFormControl['password'].touched || submitted) && registerFormControl['password'].errors?.required">
                                Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl['password'].touched && registerFormControl['password'].errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>-->
  </div>
  
  
      <div class="form-group required">
        <label>Jelszó megerősítés</label>
        <input 
        type="password" 
        class="form-control" 
        formControlName="confirmPassword" 
        name=" confirmPassword" 
        id=" confirmPassword" >
        <!-- <span class="text-danger"
        *ngIf="(registerFormControl['confirmPassword'].touched || submitted) && registerFormControl['confirmPassword'].errors">
        Confirm Password is required
    </span>
    <span class="text-danger"
        *ngIf="registerFormControl['confirmPassword'].touched && registerFormControl['confirmPassword'].MustMatch">
        Passwords doesnot match
    </span> -->
      </div>

      <div class="form-group required">
        <label>Orvosok</label>
        <select class="form-control"   formControlName="doctorId">
          <option *ngFor="let doctor of doctors" [value]="doctor.name" >
            {{doctor.name}}
          </option>
        </select>
        
      </div>
      <br>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          
          <button  class="w-100 btn btn-lg btn-primary" type="submit">Regisztráció</button>
        </div>
      </div>
      
         </form>
         <p>Form value: {{registerForm.value | json}}</p>
         <p>Form value: {{registerForm.status | json}}</p>
  
        <br>
      </div>
    </div>
  </div>
  
  

