
.overlay {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-left: 40px;
 }

     
  .content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle; 
    height:100vh;
    
;}
    .content .overlay {
      background-color: rgba(131, 159, 224, 0.97);
  }

  table{
   padding: 100px;
   align-items: center;
  }
  button[type=submit].btn{
    border-radius: 20px;
    background-color: #00182c;
    color: rgb(255, 255, 255);
}
input.checkbox{
  width: 30px;
  height: 30px;
  transform : scale(1);
}

input.form-control{
  width: 200px;
}

#border1{
  border: 1px solid #000000;
}
#border2{
  border: 1px solid #ffffff;
}


  