
<div class="content" style="background-image: url(/assets/logofekete.png);">
  <div class="overlay">
    <app-admin-navbar></app-admin-navbar>

<div class="container">
  
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Hétköznapok</th>
        <th scope="col">Foglalás kezdete:</th>
        <th scope="col">Foglalás vége:</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Hétfő</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
       
      </tr>
      <tr>
        <th scope="row">Kedd</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th scope="row">Szerda</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th scope="row">Csütörtök</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th scope="row">Péntek</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
    </tbody>
  </table>
  <p>Foglalások időtartama: <input type="text" class="input-line"></p>
  <div style="align-items: right;"><button class="submit">Rögzítés</button></div>
</div>
  </div>

</div>
