<div class="">
    
<nav class="main-menu" *ngIf="(doctorService.currentDoctor$ | async)">
    <ul>
        <li routerLink="/admin/doctor-page">
            <a>
                <i class="fa fa-home fa-2x text-light"></i>
                <span class="nav-text text-light"> Kezdőlap</span>
            </a>
        </li>
        <li routerLink="/admin/clients-request">
            <a>
                <i class="fa fa-list fa-2x text-light"></i>
                <span class="nav-text text-light"> Kérelmek </span>
            </a>
        </li>
        <li routerLink="/admin/client-list">
            <a>
                <i class="fa fa-check text-light"></i>
                <span class="nav-text text-light"> Páciensek </span>
            </a>
        </li>

        

        <li class="has-subnav" routerLink="/admin/email">
            <a>
                <i class="fa fa-at text-light"></i>
                <span class="nav-text text-light"> Email </span>
            </a>
        </li>
       




        <li class="has-subnav " routerLink="/admin/appointments">
            <a>
                <i class="fa fa-table fa-2x text-light"></i>
                <span class="nav-text text-light"> Foglalások </span>
            </a>
        </li>
        <li class="has-subnav " routerLink="/admin/settings">
            <a>
                <i class="fa fa-cog fa-2x text-light"></i>
                <span class="nav-text text-light"> Rendelési idő beállítás</span>
            </a>
        </li>
    </ul>
    <ul class="logout" (click)="logout()">
        <li>
            <a>
                <i class="fa fa-power-off fa-2x text-light"></i>
                <span class="nav-text text-light"> Kilépés </span>
            </a>
        </li>
    </ul>
</nav>
</div>