<a>
  <div class="pt-tablecell page-home relative " style="background-color:rgb(97, 113, 206);
  background-position: center;
  background-size: cover;">



    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>



    <div class="lamp__wrap">
      <div class="lamp">
        <div class="cable"></div>
        <div class="cover"></div>
        <div class="in-cover">
          <div class="bulb"></div>
        </div>
        <div class="light"></div>
      </div>
    </div>

    <section class="error">

      <div class="error__content">
        <div class="error__message message">
          <h1 class="message__title">Az oldal nem található</h1>
          <p class="message__text">Sajnáljuk, de a keresett oldal nem található! Valószínű a keresett oldal nem létezik
            vagy nem elérhető! Kérjük próbálkozzon később vagy térjen vissza a főoldalra!</p>
        </div>
        <div class="error__nav e-nav">
          <a [routerLink]="['']" class="e-nav__link"></a>
        </div>
      </div>


    </section>
  </div>
</a>