<app-admin-navbar></app-admin-navbar>

<body>

    <div class="container">
        <form>
            <div class="mb-3 row">
              <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Páciens keresése:</label>
              <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
              </div>
            </div>
          </form>
        <table class="table table-striped table-dark">
            <thead class="thead-dark">
                <tr>
                    <th sortable="name" (sort)="onSort($event)">Név</th>
                    <th>TAJ-szám</th>
                    <th>Születési dátum</th>
                    <th>Lakcím</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">

                    <td>{{client.name}}</td>
                    <td>{{client.medNumber}}</td>
                    <td>{{client.birthDate}}</td>
                    <td>{{client.place.postCode}} {{client.place.city}}</td>
                    <td>

                        <li class="list-inline-item"><button class="btn btn-light"><i class="fa fa-user"></i></button>
                        </li>
                        <li class="list-inline-item"><button class="btn btn-light"><i
                                    class="fa fa-envelope"></i></button></li>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>