<app-navbar></app-navbar>
<button (click)="toggleWeekends()">toggle weekends</button>
<full-calendar  [options]="calendarOptions" dateClick="dateClick($event)" (click)="eventClick($event)">
    <div headerToolbar=" left:'prev,next',
    center:'title',
    right:'dayGridMonth, dayGridWeek, dayGridDay',"></div>
       
</full-calendar>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title align-center"></h4>
          <button type="button" class="close" (click)="hideForm()" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body">
          <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
            <div class="row">
               <div class="col-sm-12">
                  <div class="form-group">
                        <label>Event Title</label>
                        <input placeholder="Add Event Title" type="text" formControlName="title" class="titleinp form-control" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
                        <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                              <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                     </div>
               </div> 
               <div class="col-sm-12">
                <div class="form-group">
                      <label>Event Date:</label>
                      <div class="form-control eventstarttitle"></div>
                   </div>
             </div> 
               
               
               
            </div>
           <button type="submit"  (click)="hideForm()" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>