
  <button class="btn btn-light" (click)="openModal(referral)" ><i class="fa fa-arrow-right"></i> </button>
  <ng-template #referral>
    <div class="modal-header">
      <h4 class="modal-title">Átutaló</h4>
    </div>
    <div class="modal-body" >
      <form [formGroup]="referralForm" id="requestForm" style=" justify-content: center;" (ngSubmit)="referralForm.valid && sendResetMail()"
        autocomplete="off">
        <div class=" form-group required">
          <label >TAJ szám</label>
          <input  type="text" class="form-control"   formControlName="userNumber"
            [class.is-invalid]="
              referralForm.get('userNumber').errors &&
              referralForm.get('userNumber').touched
            " required />
          <div *ngIf="referralForm.get('userNumber').hasError('required')" class="invalid-feedback">
            A TAJ-szám nem megfelelő!
          </div>
        </div>
        <div class=" form-group required">
          <label>Orvosok</label>
          <input
              [class.is-invalid]='referralForm.get("Doctor").errors && referralForm.get("Doctor").touched'
              class="form-control" list="datalistOptions" formControlName="Doctor"
              id="exampleDataList" placeholder="Orvosok keresése" required>
          <datalist id="datalistOptions">
              <option *ngFor="let doctor of doctors">{{doctor.name}} - {{doctor.place.postCode}}
              </option>
          </datalist>

          <div *ngIf="referralForm.get('Doctor').hasError('required')" class="invalid-feedback">
              Adja meg az orvosát!
          </div>

      </div>
  
        <br />
        <button [disabled]="!referralForm.valid" form="requestForm" class="w-100 btn btn-lg btn-primary" type="submit"
          id="closeModal" (click)="Close()">
          Kérelem küldése
        </button>
      </form>
    </div>
  </ng-template>
