
    <div class="row">
        <div class="col-12">
            <form [formGroup]="regForm" (ngSubmit)="register()">

                <div class="form-group"  >
                    <label for="name" class="fa fa-user"></label>
                    <input type="text" placeholder="Enter Your Name" formControlName="name">
                    <span class="text-danger" *ngIf="regForm.controls['name'].errors && regForm.controls['name'].touched">
                        <br>Firstname is Required
                    </span>

                   
                </div>
                

                <div class="form-group">
                    <label for="mobileNumber" class="fa fa-mobile"></label>
                    <input type="tel" placeholder="Mobile Number" formControlName="mobileNumber">
                    <span class="text-danger" *ngIf="regForm.controls['mobileNumber'].errors && regForm.controls['mobileNumber'].touched">
                        <br>Invalid Mobile Number
                    </span>
                </div>

                <div class="form-group">
                    <label for="TAJ" class="fa fa-barcode"></label>
                    <input type="text" placeholder="TAJ number" formControlName="TAJ">
                    <span class="text-danger" *ngIf="regForm.controls['TAJ'].errors && regForm.controls['TAJ'].touched">
                        <br>Invalid TAJ number
                    </span>
                </div>

                <div class="form-group">
                    <label for="password" class="fa fa-lock"></label>
                    <input type="password" placeholder="Password" formControlName="password">
                    <span class="text-danger" *ngIf="regForm.controls['password'].errors && regForm.controls['password'].touched">
                        <br>Atleast 6 character Password is Required
                    </span>
                </div>
                <div class="form-group">
                    <label for="password_confirm" class="fa fa-lock"></label>
                    <input type="password" placeholder="Password confirmation" formControlName="password_confirm">
                    <span class="text-danger" *ngIf="regForm.controls['password_confirm'].errors && regForm.controls['password_confirm'].touched">
                        <br>Atleast 6 character Password is Required
                    </span>
                </div>

                <div class="text-center">
                    <a  routerLink="/login"> <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="!regForm.valid">
                        
                       Register
                        
                    </button>
                    </a>
                   
                </div>

                <div class="text-success" *ngIf="successMessage">
                    {{regForm.value.email}} mailId is {{successMessage}}
                </div>
                
            </form>
        </div>
    </div>

