<button class="btn btn-link p-0" (click)="openModal(lostpassword)">Elfelejtetted a jelszavadat?</button>
<ng-template #lostpassword>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Jelszó helyreállítás</h4>
 
  </div>
  <div class="modal-body">
    <form #loginFrom (ngSubmit)="sendResetMail()" autocomplete="off">
    

        <div class="form-group">
            <label for="username">Email cím</label>
            <input name="medNumber" type="text" class="form-control" id="medNumber" 
            [(ngModel)]="lostPasswordModel.medNumber">
        </div>
    
      <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="modalRef.hide()">Helyreállítás</button>
    </form>  


</div>
</ng-template>
