.card-body{
    padding:0 25px;

}

.row{
    align-items: center;
}
.content{
    background-color: rgba(131, 159, 224, 0.97);
}

.card{
    border:none;
    background-color: rgb(227, 234, 240);
    
    }
   
    
    .chat{
        list-style: none;
        margin:0;
        padding:0;
    }
    
    .chat li{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #fff;
    }