.card-body{
    padding:0 25px;

}

.row{
    align-items: center;
}
.content{
    background-color: rgba(131, 159, 224, 0.97);
    height: 100vh;
}

.card{
    border:none;
    background-color: rgb(227, 234, 240);
    
    }
   
    
    .chat{
        list-style: none;
        margin:0;
        padding:0;
    }
    
    .chat li{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #fff;
    }

    .card2{
        background-color: blue;
    }
     .split {
        height: 100%;
       
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .left {
        left: 0;
        
      }
      
      .right {
        right: 0;
       
      } 
      
       .centered {
        align-items: center;
        
        
        text-align: center;
      } 
      .container{
  
        align-items: center;
        padding-top: 100px;
        justify-content: center;
       
      
    }