<!-- <form #loginForm class="mb-4" autocomplete="off" (ngSubmit)="login()">
    <div class="form-group">
      <label>Felhasználónév</label>
      <input class="form-control" id="medNumber"  name="medNumber" [(ngModel)]="loginModel.medNumber" required>
    </div>
    <div class="form-group">
      <label>Jelszó</label>
      <input type="password" class="form-control"  name="password" [(ngModel)]="loginModel.password" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block" [disabled]="modalRef.hide()">Belépés</button>
      </div>
    </div>
  </form> -->
