
input.form-control,
input.form-control:focus {
    background-color: #fbfbfb;
    color: rgb(10, 17, 56);
    border: 1px solid #1950bd;
}

button[type=submit].btn {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 2px solid #2ee4f5;
    background-color: #80a6f0;
}

label {
    color: #082042;
    font-weight: 700;
}

div.form-group.required>label:first-child:after {
    content: '*';
    color: #fff;
    padding-left: 5px;
}

form {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 0px 0px ;
    background-color: #5c8beb;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.5);
    padding: 0px;
}

#link {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapped-div {
    width: 900px;
    position: absolute;  
}

input:valid {
    border: 2px solid #2ee4f5;
}

input:invalid {
    border: 1px solid #11195d;
}

.invalid-feedback {
    color: #f9f9fb;
}

.col-md-8 {
    align-items: center;
}

.overlay {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 }
  
.content {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    vertical-align: middle; 
    padding-bottom: 20px;
    height:100vh;
    overflow: hidden;
;}

.content .overlay {
    background-color: rgba(46, 76, 144, 0.97);
}

button[type=submit].btn:disabled {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 2px solid #2ee4f5;
    background-color: #80a6f0;
    opacity: 30%;
}

.scrollIt{
    max-height: 450px !important;
    overflow: scroll;
    overflow-x: hidden !important;
    position: relative;
}

h1{
    color:#fff;
}

@media screen and (min-height: 100vh) {
   
    .content{
        overflow: hidden !important;
    }
}

@media screen and (max-height: 900px) {
   
    .content{
        overflow: hidden !important;
    }
    .wrapped-div{
        width: 95%;
    }
}

  .form-check-label{
    background-color: #9cc3e7;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

a{
    color:#ffffff
}

a:hover{
      color:#680808
}
  