
 
  <main class="site-wrapper">
   
    <div class="pt-tablecell page-home relative " style="background-image: url(/assets/logofekete.png);
    background-position: center;
    background-size: cover;">
   <div class="overlay"></div>
  <app-navbar></app-navbar>
    
    
<div class="container">
  
  <div class="wrapped-div">
    
    <div class="row" >
      <div class="col-md-10 offset-md-1 " >
      
        
  <form  class="row g-3 " [formGroup]="registerForm" autocomplete="off" (ngSubmit)="registerForm.valid && register()" novalidate>
  
    <div class="col-md-6 form-group has-validation required">
    <label  class="form-label fa fa-user-circle-o"> Teljes Név</label>
    
    <input [class.is-invalid]='registerForm.get("name").errors && registerForm.get("name").touched' type="text" class="form-control" formControlName="name"   required>
    <div *ngIf="registerForm.get('name').hasError('required')" class="invalid-feedback">
      Kérem a teljes nevét!
    </div>
    
  </div>
  <div class="col-md-6 form-group has-validation required">
    <label  class="form-label">Születési idő</label>
    <input type="date"  [class.is-invalid]='registerForm.get("birthDate").errors && registerForm.get("birthDate").touched' class="form-control " formControlName="birthDate"   required>
    <div *ngIf="registerForm.get('birthDate').hasError('required')" class="invalid-feedback">
      Kérem a születési idejét!
    </div>
  </div>
  
  <div class="col-md-3 form-group required">
    <label class="form-label required">Irányítószám</label>
    <input type="number" class="form-control" [class.is-invalid]='registerForm.get("placeId").errors && registerForm.get("placeId").touched' class="form-control " formControlName="placeId"   required>
   <!-- <select class="form-control" [class.is-invalid]='registerForm.get("placeId").errors && registerForm.get("placeId").touched' class="form-control " formControlName="placeId"   required  >
      <option *ngFor="let postCode of postCodes" [value]="postCode.id" >
        {{postCode.postCode}}
      </option>
    </select>
    -->
    <div *ngIf="registerForm.get('placeId').hasError('required')" class="invalid-feedback">
      Kérem az irányítószámát!
    </div>
  </div>

  <div class="col-md-3 form-group required">
    <label  class="form-label required">Város</label>
    <input type="text" class="form-control" [class.is-invalid]='registerForm.get("city").errors && registerForm.get("city").touched' class="form-control " formControlName="city"   required >
   <!-- <select class="form-control" [class.is-invalid]='registerForm.get("city").errors && registerForm.get("city").touched' class="form-control " formControlName="city"   required  >
      <option *ngFor="let postCode of postCodes" [value]="postCode.city.id" >
        {{postCode.city.name}}
      </option>
    </select> -->
    <div *ngIf="registerForm.get('city').hasError('required')" class="invalid-feedback">
      Kérem a városát!
    </div>
  </div>

  <div class="col-md-3 form-group required">
    <label  class="form-label">Utca</label>
    <input type="text" [class.is-invalid]='registerForm.get("street").errors && registerForm.get("street").touched' class="form-control " formControlName="street"   required>
    <div *ngIf="registerForm.get('street').hasError('required')" class="invalid-feedback">
      Kérem a utcát!
    </div>
  </div>
 
  <div class="col-md-3 form-group required">
    <label  class="form-label">Házszám</label>
    <input type="text" [class.is-invalid]='registerForm.get("houseNumber").errors && registerForm.get("houseNumber").touched' class="form-control " formControlName="houseNumber"   required>
    <div *ngIf="registerForm.get('houseNumber').hasError('required')" class="invalid-feedback">
      Kérem a házszámát!
    </div>
  </div>

  <div class="col-md-6 form-group required">
    <label  class="form-label fa fa-envelope"> Email cím</label>
    <div class="input-group has-validation">
      <span class="input-group-text" >@</span>
      <input type="email" [class.is-invalid]='registerForm.get("email").errors && registerForm.get("email").touched' class="form-control " formControlName="email"   required>
    <div *ngIf="registerForm.get('email').hasError('required')" class="invalid-feedback">
      Kérem az email címét!
    </div>
    </div>
  </div>

  <div class="col-md-6 form-group required">
    <label  class="form-label fa fa-mobile"> Telefonszám</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend3">+36</span>
      <input type="tel" [class.is-invalid]='registerForm.get("phoneNumber").errors && registerForm.get("phoneNumber").touched' class="form-control " formControlName="phoneNumber"   required>
    <div *ngIf="registerForm.get('phoneNumber').hasError('required')" class="invalid-feedback">
      Kérem a telefonszámát!
    </div>
    </div>
  </div>

  <div class="col-md-4 form-group required">
    <label  class="form-label" >TAJ-szám</label>
    <input [class.is-invalid]='registerForm.get("medNumber").errors && registerForm.get("medNumber").touched' type="text" class="form-control" formControlName="medNumber"   required>
    <div *ngIf="registerForm.get('medNumber').hasError('required')" class="invalid-feedback">
      Kérem a TAJ-számát!
    </div>
  </div>

  <div class="col-md-4 form-group required">
   
    <label for="password"  class="form-label fa fa-lock" > Jelszó</label>
    <div class="input-group has-validation">
      
    <input [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched' type="password" class="form-control" formControlName="password"   required>
    <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">
      Kérem a jelszavát!
    </div>
    <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">
      A jelszava minimum 8 karakter kell hogy legyen!
    </div>
    <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">
      A jelszava maximum 16 karakter lehet!
    </div>
    </div>
  </div>

  <div class="col-md-4 form-group required">
    <label  class="form-label fa fa-lock" > Jelszó megerősítés</label>
    <input [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched' type="password" class="form-control" formControlName="confirmPassword"   required>
    <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">
      Kérem a jelszavát!
    </div>
    <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">
      A két jelszónak egyeznie kell!
    </div>

    
</div>
<div class="col-md-8 form-group required">
  <label>Orvosok</label>
  <select class="form-control selectpicker" data-style="btn-primary"
  data-live-search="true"
  data-selectpicker
 
  ng-model="selected" [class.is-invalid]='registerForm.get("doctorId").errors && registerForm.get("doctorId").touched' type="password" class="form-control" formControlName="doctorId"  >
    <option *ngFor="let doctor of doctors" [value]="doctor.id" >
      {{doctor.name}} - {{doctor.postCode}}
    </option>
  </select>
  <div *ngIf="registerForm.get('doctorId').hasError('required')" class="invalid-feedback">
    Kérem a választott orvosát!
  </div>
</div>

  <div class="col-12 was-validated">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" [class.is-invalid]='registerForm.get("acceptTerms").errors && registerForm.get("acceptTerms").touched'   formControlName="acceptTerms" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div  *ngIf="registerForm.get('acceptTerms').hasError('required')" class="invalid-feedback">
        A regisztráció előtt el kell fogadnia!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      
      <button [disabled]="!registerForm.valid" class="w-100 btn btn-lg btn-primary" type="submit">Regisztráció</button>
    </div>
  </div>
      
         </form>
         
  
        <br>
      </div>
    </div>
  </div>
</div>
    </div>

  </main>


  

