#imagelogo{
    width:120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

#imageprofile {
    max-height: 50px;
    border:2px solid #fff;
    display: inline;
}
*{
    margin:0px;
    padding:3px;
    font-family: 'Nunito', sans-serif;
   
}
.navbar{
    background-image:linear-gradient(-90deg, rgb(46, 31, 182) , rgb(94, 155, 190)) ;
}
.nav-link{
    font-size: 16px;
    margin: 3px;
    color:#fff;
    font-family: 500;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #fff;
   
}
