<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                <span class="inner-status">Hoppá! Belső Szerverhiba!</span>
                <span class="inner-detail">Sajnos problémáink vannak a keresett oldal betöltésével. Kérem, jöjjön vissza
                    egy kis idő múlva.</span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>