.card{
    border:none;
    background-color: rgb(188, 226, 255);
    }
.card-body{
overflow-y:scroll;
 height: 60vh; 

}
    .chat{
        list-style: none;
        margin:0;
        padding:0;
    }
    
    .chat li{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #fff;
    }
    .content{
       height: 100vh;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle; 
    align-items: center;
    }
   
  .overlay {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 }
 .content .overlay {
    background-color: rgba(91, 132, 228, 0.97);
}
.padding{
    padding-bottom: 10px;
}
