#imagelogo{
    width:120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

#imageprofile {
    max-height: 50px;
    border:2px solid #fff;
    display: inline;
}