<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
    <div class="container-fluid">
      <img id='imagelogo' src="assets/logo2.png"  >
      <a class="navbar-brand">
       
        <h1>DrSystem</h1></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 " *ngIf="!(accountService.currentUser$ | async)">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Regisztráció</a>
          </li>
          
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 " *ngIf="(accountService.currentUser$ | async)">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/booking" routerLinkActive="active">Időpont foglalás </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/complaint" routerLinkActive="active">Panasz</a>
          </li>
          
        </ul>
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <img id='imageprofile' src="{{user.photoUrl}}" alt="{{user.name}}">
          <a class="dropdown-toogle text-light ml-2" dropdownToggle>Welcome {{user.medNumber | titlecase}}</a>
          <div class="dropdown-menu mt" *dropdownMenu>
            <a class="dropdown-item">Edit profile</a>
            <a class="dropdown-item"(click)="logout()">Logout</a>
            
          </div>
          
        </div>
        
      </div>
    </div>
  </nav>
  
  
