
input.form-control,
input.form-control:focus {
    background-color: #fbfbfb;
    color: rgb(10, 17, 56);
    border: 1px solid #1950bd;
}



button[type=submit].btn {
    color: rgb(255, 255, 255);
    border: 2px solid #2ee4f5;
    background-color: #80a6f0;
    border-radius: 20px;
}



label {
    color: #082042;
    font-weight: 700;
}



div.form-group.required>label:first-child:after {
    content: '*';
    color: #fff;
    padding-left: 5px;
}



form {
    margin: 0px 0px ;
}





#link {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  
}

.wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #4885ff;
  
    
    width: 800px;
    position: absolute;
    padding: 0px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

input:valid {
    border: 2px solid #2ee4f5;
}

input:invalid {
    border: 1px solid #11195d;
}

.invalid-feedback {
    color: #f9f9fb;
}



.col-md-8 {
    align-items: center;
}

.overlay {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
 }

     
  .content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle; 
    height:100vh;
;}
    .content .overlay {
        background-color: rgba(91, 132, 228, 0.97);
  }

button[type=submit].btn:disabled {
    color: rgb(255, 255, 255);
    border: 2px solid #2ee4f5;
    background-color: #80a6f0;
    opacity: 30%;
    border-radius: 20px;
}


@media screen and (max-height: 900px) {
   
    .content{
        overflow: hidden !important;
    }
    .wrapped-div{
        width: 95%;
    }
}
