
  
 
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #000000;
    font: inherit;
    margin: 0;

  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  .container {
    border: solid 1px #ffffff;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
   margin-left:60px;
    position: relative;
    background-color: rgba(202, 216, 248, 0.97);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }
  
  form {
    padding: 37.5px;
    margin: 50px 0;
  }
  
  h1 {
    color: #06286b;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
   text-transform: uppercase;
   padding-top: 10px;
  }
  
  
  div.form-group label:not(.text-danger){
    color: #082042;
    font-weight: 900;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}

  
  
  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background-color:#ffffff;
     
    border: none;
      border: solid 2px #65a7f3;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 5px 5px 5px 5px;
      color: #000000;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
   
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
 
  
  
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  
 
  
  #form_button:hover {
    background: #97defa;
    color: #F2F3EB;
  }
  
  @media screen and (max-width: 900px) {
    .container {
      margin: 20px auto;
      width: 95%;
     
    }
    .content{
      padding-left: 40px;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 26px;
    }
    
    
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }

  .overlay {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 }

     .content{
      background-position: center;
   padding-top: 10px;
      background-size: cover;
      vertical-align: middle; 
      height: 100vh;
      padding-left: 10px;
     }
   
   
   
  

    .content .overlay {
      background-color: rgba(131, 159, 224, 0.97);
     
  }

  label{
    padding-bottom: 10px;
  }